{% extends 'dashboard/base.html' %}
{% block title %} Profile {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                  {% if user.is_authenticated %}
                  <h3>Welcome {{ user.get_username }}!</h3>
                  <h3>ID: {{ user.id }}</h3>
                  {% endif %}

                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">


                  <h3><a href="/profile/example_tree/">1. Hardcoded Tree</a></h3>


                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                  <h3><a href="/profile/view_tree/">2. Lump database Tree</a></h3>

                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">


                  <h3><a href="/profile/family_members/">3. Add family row by row </a></h3>


                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">


                  <h3>4. View row by row Tree</h3>


                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                  <h3><a href="/profile/edit/">Account Settings</a></h3>

                </div>
            </div>
        </div>

    </div>


</div>

{% endblock %}
