{% extends 'dashboard/base.html' %}
{% block title %} Profile {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                  {% if user.is_authenticated %}
                  <h3>Welcome {{ user.get_username }}!</h3>
                  <h3>ID: {{ user.id }}</h3>
                  {% endif %}

                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">

                  <h4>View Example Tree</h4>
                  <h3><a href="/profile/example_tree/">Example 1</a></h3>


                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">

                  <h4>View Example Tree</h4>
                  <h3><a href="/profile/view_sample_tree/">Example 2</a></h3>

                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">


                  <h3><a href="/profile/family_members/">Add Family Members </a></h3>


                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">


                  <h3><a href="/profile/view_tree/">View Tree</a></h3>


                </div>
            </div>
        </div>

    </div>




</div>

{% endblock %}
