{% extends 'dashboard/base.html' %}
{% block title %} View Tree {% endblock %}

{% block body %}
<div class="container-fluid" onload="init()">
    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="">
                <div class="panel-body">

                    <h3> View Tree </h3>
                    {% if error_message %}
                        <p><strong> {{ error_message }}</strong></p>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h4> {{ user.get_username }}'s Tree Goes Here! </h4>

                    {% for sampleTree in data %}
                        <p>
                          {{ sampleTree.relations }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
